body{
    margin: 20px;
    font-family: Cambria; 
    font-size: larger;
}

.avatar{
    width: 175px;
    border-radius: 100px;
    filter: drop-shadow(10px 5px 10px #414141 ) 
}
.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #031926;
    border-bottom: 15px solid #9dbebb;
    background-color: #468189;
    
}

